<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../css/main.css"/>
    <link rel="stylesheet" href="../css/login.css"/>
    <link rel='stylesheet' media="(max-width: 768px)" type='text/css' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
</head>

<body>

        <div ng-app="main" ng-controller="loginCtrl">
        <div class="panel" id="left-panel">
            <p class='center'><a href="/"><img class="title-img" src="../img/logo/logo2.png"/></a></p>
        </div>
        <div class="trans-panel" id="right-panel" >
                <p class="large-title">登入</p>
                
                <form action="" method="POST" name="loginForm">
                 <p>用戶名稱 :
                 <input type="text" name="user_id" ng-model="user_id" ng-change='bam=false;loginError=false' required/>
                 </p>
                 <p>密碼 :
                 <input type="password" name="pw" ng-model="pw" ng-change='bam=false;loginError=false' required/> </p>
                 
                 <p class='error' ng-show="loginError">用戶名稱/密碼 錯誤</p>
                 <p class='error' ng-show="bam">用戶已被BAM !!!</p>
                 <input class='large' value="登入" type="submit" ng-click='login()' onclick='return false;'
                        ng-disabled = "loginForm.user_id.$error.required || loginForm.pw.$error.required"
                 />
                </form>
                
                <form action="/login/reg-page" method="GET">
                    <input class='large' value="註冊" type="submit"/>
                </form>
                
        </div>
        
        <div class='mobileLogin'>
            
            <form action="" method="POST" name="loginForm" onsubmit='login()'>
                <a href='/'><img src='../img/logo/logo1.png'></a>
                <div class="input-group">
                  <span class="input-group-addon glyphicon glyphicon-user" id="basic-addon1"></span>
                  <input type="text" name="user_id" ng-model="user_id" ng-change='bam=false;loginError=false' class="form-control" placeholder="Username" aria-describedby="basic-addon1">
                </div>
                
                <div class="input-group">
                  <span class="input-group-addon glyphicon glyphicon-lock" id="basic-addon1"></span>
                  <input type="password" name="pw" ng-model="pw" ng-change='bam=false;loginError=false' class="form-control" placeholder="Password" aria-describedby="basic-addon1">
                </div>
                <p class='error' ng-show="loginError">用戶名稱/密碼 錯誤</p>
                 <p class='error' ng-show="bam">用戶已被BAM !!!</p>
                <button type="submit" class="btn btn-default mobileLoginButton " ng-click='login()' onclick='return false'
                        ng-disabled = "loginForm.user_id.$error.required || loginForm.pw.$error.required">登入</button>
                <br><h4>尚未有帳號？</h4>
                <button type="button" class="btn btn-default mobileLoginButton " onClick='window.location.href="/login/reg-page"'>註冊</button>
            </form>
            
            
        </div>
        </div>
    <script>
        var app = angular.module("main",[]);
        app.controller ("loginCtrl",function($scope,$http){
            $scope.loginError = false;
            $scope.bam = false;
            $scope.user_id = "";
            $scope.pw="";
            // if login success, redirect to main page, else display error message
            $scope.login = function(){
                $http.post('/login/login',{user_id : $scope.user_id , pw : $scope.pw}).success(
                    function(){redirect();}
                ).error(
                    function (res) {
                        console.log(res);
                        if(res == 'bam')
                            $scope.bam = true;
                        else
                            $scope.loginError = true;
                        
                    }
                )
            
            }
        });
        
        function redirect(){
            window.location = "/";
        }


//var encrypted = CryptoJS.AES.encrypt("Message", "Fuck You Ivan");
// AABsAABkAABiAAAAAAAAAABNAABlAABPAAC0AABHAAA=
//console.log('enc:' + encrypted);
//var decrypted = CryptoJS.AES.decrypt(encrypted, "Fuck You Ivan1");
// 4d657373616765

//decrypted.toString(CryptoJS.enc.Utf8);
//console.log('dec:' + decrypted.toString(CryptoJS.enc.Utf8));
// Message
    </script>
</body>
</html>
